.list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  border-radius: 100px;
  padding: 12px 18px;
  background-color: var(--gray);

  font-weight: 500;
  line-height: 1.25;
  text-align: center;

  fill: none;
  stroke: var(--black);
}

.vehicleDetailsContainer {
  display: flex;
  justify-content: space-between;
}