.wrapper {
  padding-top: 88px;
  padding-bottom: 70px;
}

button.isShow {
  display: block;
  border: 1px solid var(--border);
  margin: 0 auto;
  margin-top: 50px;
  background-color: var(--white);
  color: var(--black);
  transition: border 250ms ease-in, background-color 250ms ease-in;
}

button.isShow:hover, button.isShow:focus {
  border: 1px solid var(--red);
  background-color: var(--white);
}

.isHide{
  display: none;
}